<div class="top-nav">
    <a href="#" class="top-nav-item no-hover">Page Title</a>
    <a href="#" class="top-nav-item">Page Link</a>
    <a href="#" class="top-nav-item">Page Link</a>
    <a href="#" class="top-nav-item">Page Link</a>
    <a href="#" class="top-nav-item item-right" routerLink="/login">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="sidebar-item-title">Account</span>
    </a>
    <a href="#" class="top-nav-item item-right">
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    </a>
</div>

