<div class="top-nav">
    <a routerLink="/product-list" class="top-nav-item">Lista produktów</a>
    <a href="#" class="top-nav-item no-hover">Moje zamówienia</a>
    <a routerLink="/add-product" class="top-nav-item">Dodaj produkt</a>
    <a *ngIf="isLogged" class="top-nav-item item-right" (click)="logout()">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="sidebar-item-title">Wyloguj</span>
    </a>
    <a *ngIf="!isLogged" href="#" class="top-nav-item item-right" routerLink="/login">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="sidebar-item-title">Zaloguj</span>
    </a>
    <a routerLink="/shopping-basket" class="top-nav-item item-right">
        <i class="fa fa-shopping-basket" aria-hidden="true"><span *ngIf="basketItemsCounter">{{basketItemsCounter}}</span></i>
    </a>
</div>
