.content-order {
  background-color: rgb(105, 102, 102);
  margin-top: 50px;
  height: 500px;
}
.adress {
  margin-top: 20px;
}
.content-order-header{
  text-align: center;
  padding-top: 20px;
}
.street-header {
  display: inline-flex;
  white-space: pre-wrap;
}

.order-product-container {
  height: 200px;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.order-product-content {
  height:180px;
  overflow:auto;
  max-width: 100%;
  overflow-x: hidden;
}

#style-4::-webkit-scrollbar
{
	width: 4px;
	background-color: #363642;
}

#style-4::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
