
@{
    //czy tu powinnien być layout? do sprawdzenia
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>123test</h3>
    <app-root></app-root>
</body>
</html>
