@import './app/app.component.scss';
@import './app/navbar/navbar.component.scss';
@import './app/category/category.component.scss';
@import './app/login/login.component.scss';
@import './app/register/register.component.scss';
@import './app/shared/styles.scss';
