@import './app/app.component.scss';
@import './app/navbar/navbar.component.scss';
@import './app/filter/filter.component.scss';
@import './app/login/login.component.scss';
@import './app/register/register.component.scss';
@import './app/product-list/product-list.component.scss';
@import './app/shared/styles.scss';
@import './app/product/product.component.scss';
@import './app/add-product/add-product.component.scss';
@import './app/pagination/pagination.component.scss';
@import './app/shopping-basket/shopping-basket.component.scss';
@import './app/add-order/add-order.component.scss';
@import './app/order-list/order-list.component.scss';
@import './app/order/order.component.scss';
