<div class="list-group">
  <div class="row">
    <div *ngFor="let product of products" class="col-md-3 product-item">
      <a class="product-link" [routerLink]="['/product', product.id]">
        <div class="image-wrapper">
            <img *ngIf="product.image" [src]="product.image" class="product-image">
            <img *ngIf="!product.image" src="./../../assets/no_foto.png" class="product-image">
        </div>
        <h5 class="product-name">{{product.name}}</h5>
        <h5 class="product-price">{{product.price}} zł</h5>
      </a>
    </div>
  </div>
</div>
<app-pagination *ngIf="totalRecords" [totalRecords]="totalRecords" [max]="12" (selectedPageEmitter)="selectedPageEmitter($event)"></app-pagination>
