

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="sign-in">Rejestracja</h1>
      <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="login">Login</label>
            <input formControlName="login" type="text" class="form-control" placeholder="login">
            <div class="invalid-control" *ngIf="!registerForm.controls['login'].valid && registerForm.controls['login'].touched">Login jest nieprawidłowy.</div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input formControlName="email" type="text" class="form-control" placeholder="email">
          <div class="invalid-control" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">Email jest nieprawidłowy.</div>
        </div>

        <div class="form-group">
          <label for="password">Hasło</label>
          <input formControlName="password" type="password" class="form-control" placeholder="hasło">
          <div class="invalid-control" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">Hasło musi się składać z conajmniej 6 znaków.</div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Potwierdź hasło</label>
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="potwierdź hasło">
            <div class="invalid-control" *ngIf="!registerForm.controls['confirmPassword'].valid && registerForm.controls['confirmPassword'].touched">Hasła nie pasują do siebie.</div>
        </div>
        <button type="submit" class="btn btn-default submit-btn" (click)="save()">Wyślij</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
