.order-item {
  margin-bottom: 25px;
  background-color: #2e2f33;
  height: 80px;
  line-height: 80px;
  text-align: left;
  cursor: pointer !important;
  :hover {
    cursor: pointer !important;
  }
}
.order-head {
  text-align: center;
  margin-bottom: 20px;
}
.order-container {
  height: 600px;
}
.order-content {
  height:500px;
  overflow:auto;
  max-width: 100%;
  overflow-x: hidden;
}
.remove-order-btn {
  cursor: pointer !important;
  :hover {
    cursor: pointer !important;
  }
}

#style-3::-webkit-scrollbar
{
	width: 12px;
	background-color: #363642;
}

#style-3::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.arrow-clicked {
  color:red;
}
