

a{
  text-decoration: none;
}

p, li, a{
  font-size: 14px;
}

.pagination-container{
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}


.pagination{
  padding: 30px 0;
  position: fixed;
  bottom: 0px;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}



.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  cursor: pointer !important;
}

.p1 a.is-active{
  background-color: #696666;
  border-radius: 100%;
  color: #fff;
}

